
  <div class="container-fluid">

    <div class="navbar-header">
      <div class="navbar-brand"><%= link_to 'LunchVote', root_path%></div>
    </div>
    
      <ul class="nav navbar-nav">
        <%if !current_user%>
        <li><%= link_to 'Go to an existing room', rooms_path%></li>
        <%else%>
         <li><%=link_to "Create a New Room", new_room_path %></li>
         <li><%= link_to 'Go to an existing room', rooms_path%></li>
         <%end%>
      </ul>
      
        <ul class="nav navbar-nav navbar-right">
        	<% if !current_user %>
  	        <li><%= link_to "Sign Up", new_user_path%></li>
  	        <li><%= link_to "Sign in", new_sessions_path%></li> 
            <% else %>
            <li>Hello, <%= current_user.name%></li>
          	<li><%= link_to "Sign out", sessions_path, :method => :delete %></li>

            <%end%>
        </ul>
     <!--nav bar collapse-->
  </div><!-- /.container-fluid -->

<h2>Welcome To  LunchVote</h2>
<p>Create a room to start voting!!</p>

<div class="row">
	<% @rooms.each do |r| %>
		<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <div class="caption">
		        <h3><%=r.name%></h3>
		        		<%=link_to "GO TO ROOM",r, class: "btn btn-success" %>
		        		<%= link_to 'Delete',r,method: :delete, data: { confirm: 'Are you sure?' } %>
		      </div>
		    </div>
		</div>
	<% end %>
</div>
<br/>
<br/>
