<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <div class="navbar-brand"><%= link_to 'LunchVote', root_path%></div>
    </div>
    
      <ul class="nav navbar-nav">
        <%if !current_user%>
        <li><%= link_to 'Go to an existing room', rooms_path%></li>
        <%else%>
         <li><%=link_to "Create a New Room", new_room_path %></li>
         <li><%= link_to 'Go to an existing room', rooms_path%></li>
         <%end%>
      </ul>
      
        <ul class="nav navbar-nav navbar-right">
        	<% if !current_user %>
  	        <li><%= link_to "Sign Up", new_user_path%></li>
  	        <li><%= link_to "Sign in", new_sessions_path%></li> 
            <% else %>
            <li>Hello, <%= current_user.name%></li>
          	<li><%= link_to "Sign out", sessions_path, :method => :delete %></li>

            <%end%>
        </ul>
     <!--nav bar collapse-->
  </div><!-- /.container-fluid -->
</nav>
<h1> what is your suggestion for your classmates?</h1>
<h2>These fools are sure lazy!!</h2>
<%= render 'form' %> 

<li><%= link_to 'Go back to the room', room_path(params[:room_id])%>